$main-font: 'Roboto', sans-serif;
$section-font: 'Playfair Display', serif;

$title-header-font-size: 66px;
$section-header-font-size: 40px;
$modal-header-font-size: 30px;
$sub-header-font-size: 24px;
$sub-sub-header-font-size: 20px;
$body-font-size: 16px;
$nav-font-size: 18px;

$responsive-sub-header-font-size: 2.75vw;
$responsive-sub-sub-header-font-size: 2.5vw;
$responsive-body-font-size: 1.5vw;
$responsive-nav-font-size: 2.25vw;

$heavy-font-weight: 900;
$bold-font-weight: 700;
$regular-font-weight: 400;
$thin-font-weight: 300;

$base-black: #000000;
$base-dark-grey: #414141;
$base-blue: #557292;
$base-teal: #66B9BF;
$base-orange: #E37222;
$base-pink: #EECBD1;
$base-grey: #f3f3f3;
$base-white: #ffffff;
