.about-me_container {
  padding: 140px 6em 0em 6em;
}

.about-me-description_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
    "desc desc desc . img";

  .about-me_description {
    grid-area: desc;

    .before-enter {
      opacity: 0;
      transform: translateX(-40px);
      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  
    .enter {
      opacity: 1;
      transform: translateX(0px);
    }

    h3 {
      transition-delay: .1s;
    }

    .description-body {
      margin: 1em 0 0 1em;
      transition-delay: .2s;
    }
  }
  
  .about-me_image-container {
    grid-area: img;

    .before-enter {
      opacity: 0;
      transform: translateY(100px);
      transition: all 1.5s ease-in-out;
    }
  
    .enter {
      opacity: 1;
      transform: translateY(0px);
    }

    .top-header_wrapper {
      .top-header {
        position: absolute;
        margin-left: 0px;
        margin-top: -55px;
        transition-delay: .2s;
      }

      .before-enter {
        opacity: 0;
        transform: translateY(-30px);
        transition: all 1.5s ease-in-out;
      }
    
      .enter {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .bottom-header_wrapper {
      .bottom-header{
        position: absolute;
        margin-left: 185px;
        margin-top: 10px;
        transition-delay: .2s;
      }

      .before-enter {
        opacity: 0;
        transform: translateY(100px);
        transition: all 1.5s ease-in-out;
      }
    
      .enter {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .about-me_image {
      .profile-image {
        width: 250px;
      }

      .before-enter {
        opacity: 0;
        transform: translateX(40px);
        transition: all 1.5s ease-in-out;
      }
    
      .enter {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
}

.skills_container {
  padding: 5em 0 0 0;
}

.skills-infograph-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
    "frd . info . bcd"
    "des . info . tol";
  align-items: center;
}

.emphasize {
  font-weight: 700;
}

.frontend {
  grid-area: frd;
}

.design {
  grid-area: des;
  margin-top: 20px;
}

.backend {
  grid-area: bcd;
}

.tools {
  grid-area: tol;
  margin-top: 20px;
}

.skills-infograph_image-container {
  grid-area: info;
}

.skills_description-container {
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.1em;
  ul {
    list-style-type: disc;
    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 950px) {
  .about-me_container {
    padding: 150px 3em 0 3em;
  }

  .skills-infograph-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: 
      "info info"
      "frd bcd"
      "des tol";
    grid-gap: 1em;
    justify-content: center;
  }

  .skills_description-container {
    display: flex;
    justify-content: center;
  }
  
  .design {
    margin-top: 0px;
  }
  
  .tools {
    margin-top: 0px;
  }
}

@media (max-width: 750px) { 
  .about-me_container {
    text-align: center;
  }

  .about-me-description_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr;
    grid-template-areas: 
      "img"
      "desc";
  
    .about-me_description {
      margin-top: 2em;
      text-align: center;
    }
    
    .about-me_image-container {
      display: flex;
      justify-content: center;

      .bottom-header_wrapper {
        .bottom-header{
          position: relative;
          margin-left: -40px;
          margin-top: -55px;
          transition-delay: .2s;
        }

        .before-enter {
          opacity: 0;
          transform: translateY(100px);
          transition: all 1.5s ease-in-out;
        }
      
        .enter {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .about-me_container {
    padding: 130px 2em;
  }
}
