.contact-me_container {
  margin: 2em 6em;

  .social-list {
    list-style-type: none;
    height: 200px;
    padding-top: 50px;

    .social-list_item {
      width: 50%;
      float: left;
      display: flex;
      align-items: center;
      font-weight: $thin-font-weight;
      letter-spacing: 0.1em;

      .social-icon {
        width: 32px;
      }

      .social-description {
        margin-left: 20px;
      }

    }

    .social-list_item:not(:last-child) {
      margin-bottom: 2em;
    }
  }
}

@media (max-width: 950px) {
  .contact-me_container{
    margin: 4em 3em;
  }
}

@media (max-width: 750px) {
  .contact-me_container {
    text-align: center;
    .social-list {
      width: 100%;
      height: 100%;
      margin: 0 auto;

      .social-list_item {
        width: 100%;
        .social-icon {
          width: 24px;
        }
      }
      .social-list_item {
        margin-bottom: 2em;
      }
    }
  }
}