.design-process_container {
  margin: 4em 6em;

  .design_process_wrapper {
    width: 100%;
    padding-top: 100px;
  }

  h2 {
    float: right;
  }

  .before-enter:nth-child(odd){
    opacity: 0;
    transform: translateX(40px);
    transition: all 1.5s ease-in-out;
  }

  .enter:nth-child(odd) {
    opacity: 1;
    transform: translateX(0px);
  }

  .before-enter:nth-child(even){
    opacity: 0;
    transform: translateX(-40px);
    transition: all 1.5s ease-in-out;
  }

  .enter:nth-child(even) {
    opacity: 1;
    transform: translateX(0px);
  }
}

.design-process_section:nth-child(even) {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
    "desc desc desc . img";

  .design-process_description {
    grid-area: desc;

    .description-body {
      margin: 1em 0 0 1em;
    }
  }
  
  .design-process_image-container {
    grid-area: img;
  }
}

.design-process_section:nth-child(odd) {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
    "img . desc desc desc";

  .design-process_description {
    grid-area: desc;

    .description-body {
      margin: 1em 0 0 1em;
    }
  }
  
  .design-process_image-container {
    grid-area: img;
  }
}

.p10k-image-1 {
  height: auto;
  width: 350px;
}

.p10k-image-2 {
  height: auto;
  width: 400px;
}

.design-process_section:not(:last-child) {
  margin-bottom: 5em;
}

@media (max-width: 950px) {
  .design-process_container {
    margin: 4em 3em;
  }
}

@media (max-width: 850px) {
  .design-process_container {
    text-align: center;
  }

  .design-process_section:nth-child(odd), .design-process_section:nth-child(even) {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr;
    grid-template-areas: 
      "img"
      "desc";
    grid-row-gap: 2em;
  
    .design-process_description {
      grid-area: desc;
      text-align: center;
  
      .description-body {
        margin: 1em 0 0 1em;
      }
    }
    
    .design-process_image-container {
      grid-area: img;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 515px) { 
  .design-process_container {
    margin: 4em 0em;
  }

  .p10k-image-1 {
    height: auto;
    width: 315px;
  }
  
  .p10k-image-2 {
    height: auto;
    width: 315px;
  }
}
