.home_section {
  padding: 70px 2em 0 2em;
  max-height: 900px;
  position: relative;
}

.title-container {
  width: 400px;
  position: absolute;
  left: -2vw;
  top: 4.7vw;
}

.homepage-image_container {
  margin-left: 50px;
  margin-top: 4vw;
  height: 600px;
  position: relative;

  .text-lower-right-wrapper, .text-upper-right-wrapper{
    position: absolute;
    span {
      font-family: $main-font;
      font-size: $responsive-body-font-size;
      font-weight: $bold-font-weight;
      letter-spacing: 0.12em;
    }
  }

  .before-enter:nth-child(even){
    opacity: 0;
    transform: translateX(-40px);
    transition: all 1.5s ease-in-out;
  }

  .enter:nth-child(even) {
    opacity: 1;
    transform: translateX(0px);
  }

  .text-lower-right-wrapper {
    bottom: -20px;
  }

  .text-lower-left-wrapper, .text-upper-left-wrapper {
    position: absolute;
    span {
      font-family: $main-font;
      font-size: $responsive-body-font-size;
      font-weight: $thin-font-weight;
      letter-spacing: 0.12em;
    }
  }

  .text-upper-left-wrapper {
    top: -20px;
    right: 0;
  }

  .text-lower-right-wrapper {
    bottom: -80px;
    left: 0;
  }
  
  .image_wrapper {

    img {
      width: 100%;
      max-height: 800px;
    }
  }
}

@media (max-width: 1200px) { 
  .title-container {
    width: 400px;
    position: absolute;
    left: -1vw;
    top: 5vw;
  }

  .homepage-image_container {
    height: 500px;
    margin-top: 100px;
    margin-left: 50px;

    .text-upper-left-wrapper {
      top: -10px;
      right: 2vw;
    }

    .text-lower-right-wrapper {
      bottom: -50px;
    }
  }
}

@media (max-width: 990px) { 
  .title-container {
    width: 400px;
    position: absolute;
    left: -5vw;
    top: 7vw;
  }

  .home_section {
    padding: 80px 2em 0 2em;
    height: 650px;
  }

  .homepage-image_container {
    margin-top: 140px;
    height: 400px; 
    .text-upper-left-wrapper {
      top: -20px;
      right: -1vw;
    }

    .text-lower-right-wrapper {
      bottom: 0px;
      left: 0;
    }
  }
}

@media (max-width: 770px) { 
  .home_section {
    padding: 60px 2em 0 2em;
    height: 550px;
  }

  .homepage-image_container {
    height: 260px; 
    margin-top: 170px;
    .text-lower-right-wrapper {
      bottom: 0vh;
    }

    .text-lower-right-wrapper {
      bottom: -20px;
      left: 0;
    }

    .text-upper-left-wrapper {
      right: 0;
      top: -20px;
    }
  }
}

@media (max-width: 575px) { 
  .home_section {
    padding: 60px 2em 0 2em;
    height: 500px;
  }

  .homepage-image_container {
    height: 270px; 
    .text-lower-right-wrapper {
      bottom: 0vh;
    }

    .text-upper-right-wrapper {
      top: 12vw;
      right: -3vw;
    }

    .text-lower-left-wrapper {
      bottom: 29vh;
      left: -5vw;
    }

    .text-upper-left-wrapper {
      right: 13vw;
      top: -4vw;
    }
  }
}

@media (max-width: 550px) {
  .title-container {
    width: 400px;
    position: absolute;
    left: calc(50vw - 220px);
    top: 10vw;
  }

  .home_section {
    padding: 60px 2em 0 2em;
    height: 700px;
  }

  .homepage-image_container {
    height: 250px; 
    .text-lower-right-wrapper {
      bottom: 0vw;
    }

    .text-upper-right-wrapper {
      top: 12vw;
      right: -3vw;
    }

    .text-lower-left-wrapper {
      bottom: 0vw;
      left: -6vw;
    }

    .text-upper-left-wrapper {
      right: 13vw;
      top: -4vw;
    }
  }
}


@media (max-width: 500px) {
  .title-container {
    width: 400px;
    position: absolute;
    left: calc(50vw - 210px);
    top: 10vw;
  }
  
  .home_section {
    padding: 60px 2em 0 2em;
    height: 600px;
  }

  .title-container {
    width: 100%;
  }

 .homepage-image_container {
  height: 230px; 
    .text-lower-right-wrapper {
      bottom: 0;
    }

    .text-upper-right-wrapper {
      top: 9vw;
      right: 0vw;
    }

    .text-lower-left-wrapper {
      bottom: 55vh;
      left: -4vw;
    }

    .text-upper-left-wrapper {
      right: 13vw;
      top: -4vw;
    }
  }
}


@media (max-width: 450px) {
  .title-container {
    width: 100%;
    position: absolute;
    top: 10vw;
  }

  .home_section {
    padding: 20px 2em 0 2em;
    height: 550px;
  }

  .title-container {
    width: 100%;
    h1 {
      font-size: 60px !important;
    }
  }

 .homepage-image_container {
    height: 200px; 
    .text-lower-right-wrapper {
      bottom: 10px;
    }

    .text-upper-left-wrapper {
      right: 0;
      top: -20px;
    }
  }
}


@media (max-width: 390px) {
  .title-container {
    width: 400px;
    position: absolute;
    left: calc(50vw - 190px);
    top: 15vw;

    h1 {
      font-size: 58px !important;
    }
  }

  .home_section {
    padding: 10px 2em 0 2em;
    height: 550px;
  }

  .title-container {
    width: 100%;
  }

 .homepage-image_container {
  height: 160px; 

    .text-lower-right-wrapper {
      bottom: -10px;
    }

    .text-upper-left-wrapper {
      right: 0px;
      top: -20px;
    }
  }
}