.home_section {
  padding: 80px 2em 0 2em;
  max-height: 900px;
  position: relative;
}

.title-container {
  width: 400px;
}

.homepage-image_container {
  height: 600px;
  position: relative;

  .text-lower-right-wrapper, .text-upper-right-wrapper{
    position: absolute;
    span {
      font-family: $main-font;
      font-size: $responsive-body-font-size;
      font-weight: $bold-font-weight;
      letter-spacing: 0.12em;
    }
  }

  .before-enter:nth-child(even){
    opacity: 0;
    transform: translateX(-40px);
    transition: all 1.5s ease-in-out;
  }

  .enter:nth-child(even) {
    opacity: 1;
    transform: translateX(0px);
  }

  .text-lower-right-wrapper {
    bottom: -15vh;
  }

  .text-upper-right-wrapper {
    top: 12.5vw;
    right: -8vw;
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg); /* Standard syntax */
  }

  .text-lower-left-wrapper, .text-upper-left-wrapper {
    position: absolute;
    span {
      font-family: $main-font;
      font-size: $responsive-body-font-size;
      font-weight: $thin-font-weight;
      letter-spacing: 0.12em;
    }
  }

  .text-lower-left-wrapper {
    bottom: 10vh;
    left: -5vw;
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg); /* Standard syntax */
  }

  .text-upper-left-wrapper {
    right: 5vw;
    top: -2vw;
  }
  
  .image_wrapper {

    img {
      width: 100%;
      max-height: 800px;
    }
  }
}

@media (max-width: 1200px) { 
  .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: -1vh;
    }

    .text-upper-right-wrapper {
      top: 12.5vw;
      right: -8vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 23vh;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 5vw;
      top: -2vw;
    }
  }
}

@media (max-width: 990px) { 
  .home_section {
    padding: 80px 2em 0 2em;
    height: 650px;
  }

  .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 19vh;
    }

    .text-upper-right-wrapper {
      top: 12.5vw;
      right: -10vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 42vh;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 2vw;
      top: -2vw;
    }
  }
}

@media (max-width: 770px) { 
  .home_section {
    padding: 60px 2em 0 2em;
    height: 550px;
  }

  .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 35vh;
    }

    .text-upper-right-wrapper {
      top: 12.5vw;
      right: -10vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 49vh;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 5vw;
      top: -2vw;
    }
  }
}

@media (max-width: 575px) { 
  .home_section {
    padding: 60px 2em 0 2em;
    height: 500px;
  }

  .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 33vh;
    }

    .text-upper-right-wrapper {
      top: 12.5vw;
      right: -10vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 46vh;
      left: -5vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 6vw;
      top: -3vw;
    }
  }
}

@media (max-width: 550px) {
  .home_section {
    padding: 60px 2em 0 2em;
    height: 700px;
  }

  .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 46%;
    }

    .text-upper-right-wrapper {
      top: 12.5vw;
      right: -10vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 64%;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 6vw;
      top: -4vw;
    }
  }
}


@media (max-width: 500px) {
  .home_section {
    padding: 60px 2em 0 2em;
    height: 600px;
  }

  .title-container {
    width: 100%;
  }

 .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 38vh;
    }

    .text-upper-right-wrapper {
      top: 11vw;
      right: -11vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 50vh;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 5vw;
      top: -5vw;
    }
  }
}


@media (max-width: 450px) {
  .home_section {
    padding: 60px 2em 0 2em;
    height: 550px;
  }

  .title-container {
    width: 100%;
  }

 .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 42vh;
    }

    .text-upper-right-wrapper {
      top: 11vw;
      right: -11vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 53vh;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 5vw;
      top: -5vw;
    }
  }
}


@media (max-width: 390px) {
  .home_section {
    padding: 60px 2em 0 2em;
    height: 550px;
  }

  .title-container {
    width: 100%;
  }

 .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 48vh;
    }

    .text-upper-right-wrapper {
      top: 11vw;
      right: -11vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 56vh;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 5vw;
      top: -5vw;
    }
  }
}