.home_section {
  padding: 70px 2em 0 2em;
  max-height: 900px;
  position: relative;
}

.title-container {
  width: 400px;
  position: absolute;
  left: -2vw;
  top: 4.7vw;
}

.homepage-image_container {
  margin-top: 35px;
  height: 600px;
  position: relative;

  .text-lower-right-wrapper, .text-upper-right-wrapper{
    position: absolute;
    span {
      font-family: $main-font;
      font-size: $responsive-body-font-size;
      font-weight: $bold-font-weight;
      letter-spacing: 0.12em;
    }
  }

  .before-enter:nth-child(even){
    opacity: 0;
    transform: translateX(-40px);
    transition: all 1.5s ease-in-out;
  }

  .enter:nth-child(even) {
    opacity: 1;
    transform: translateX(0px);
  }

  .text-lower-right-wrapper {
    bottom: -6vh;
  }

  .text-upper-right-wrapper {
    top: 10vw;
    right: 1vw;
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg); /* Standard syntax */
  }

  .text-lower-left-wrapper, .text-upper-left-wrapper {
    position: absolute;
    span {
      font-family: $main-font;
      font-size: $responsive-body-font-size;
      font-weight: $thin-font-weight;
      letter-spacing: 0.12em;
    }
  }

  .text-lower-left-wrapper {
    bottom: 18vh;
    left: -3vw;
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg); /* Standard syntax */
  }

  .text-upper-left-wrapper {
    right: 12vw;
    top: -1vw;
  }
  
  .image_wrapper {

    img {
      width: 90%;
      max-height: 800px;
    }
  }
}

@media (max-width: 1200px) { 
  .title-container {
    width: 400px;
    position: absolute;
    left: -1vw;
    top: 5vw;
  }

  .homepage-image_container {
    margin-top: 100px;
    .text-lower-right-wrapper {
      bottom: 8vh;
    }

    .text-upper-right-wrapper {
      top: 10vw;
      right: 2vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 27vh;
      left: -3vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 14vw;
      top: -2vw;
    }
  }
}

@media (max-width: 990px) { 
  .title-container {
    width: 400px;
    position: absolute;
    left: -5vw;
    top: 7vw;
  }

  .home_section {
    padding: 80px 2em 0 2em;
    height: 650px;
  }

  .homepage-image_container {
    margin-top: 140px;
    .text-lower-right-wrapper {
      bottom: 27vh;
    }

    .text-upper-right-wrapper {
      top: 10vw;
      right: -1vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 43vh;
      left: -4vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 10vw;
      top: -2vw;
    }
  }
}

@media (max-width: 770px) { 
  .home_section {
    padding: 60px 2em 0 2em;
    height: 550px;
  }

  .homepage-image_container {
    margin-top: 170px;
    .text-lower-right-wrapper {
      bottom: 41vh;
    }

    .text-upper-right-wrapper {
      top: 9vw;
      right: -2vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 53vh;
      left: -4vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 10vw;
      top: -3vw;
    }
  }
}

@media (max-width: 575px) { 
  .home_section {
    padding: 60px 2em 0 2em;
    height: 500px;
  }

  .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 22vh;
    }

    .text-upper-right-wrapper {
      top: 12vw;
      right: -3vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 29vh;
      left: -5vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 13vw;
      top: -4vw;
    }
  }
}

@media (max-width: 550px) {
  .title-container {
    width: 400px;
    position: absolute;
    left: calc(50vw - 220px);
    top: 10vw;
  }

  .home_section {
    padding: 60px 2em 0 2em;
    height: 700px;
  }

  .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 54%;
    }

    .text-upper-right-wrapper {
      top: 12vw;
      right: -3vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 69%;
      left: -6vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 13vw;
      top: -4vw;
    }
  }
}


@media (max-width: 500px) {
  .title-container {
    width: 400px;
    position: absolute;
    left: calc(50vw - 210px);
    top: 10vw;
  }
  
  .home_section {
    padding: 60px 2em 0 2em;
    height: 600px;
  }

  .title-container {
    width: 100%;
  }

 .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 46vh;
    }

    .text-upper-right-wrapper {
      top: 9vw;
      right: 0vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 55vh;
      left: -4vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 13vw;
      top: -4vw;
    }
  }
}


@media (max-width: 450px) {
  .title-container {
    width: 400px;
    position: absolute;
    left: calc(50vw - 220px);
    top: 10vw;
  }

  .home_section {
    padding: 20px 2em 0 2em;
    height: 550px;
  }

  .title-container {
    width: 100%;
    h1 {
      font-size: 60px !important;
    }
  }

 .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 58vh;
    }

    .text-upper-right-wrapper {
      top: 9vw;
      right: 0vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 66vh;
      left: -4vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 13vw;
      top: -4vw;
    }
  }
}


@media (max-width: 390px) {
  .title-container {
    width: 400px;
    position: absolute;
    left: calc(50vw - 190px);
    top: 15vw;

    h1 {
      font-size: 58px !important;
    }
  }

  .home_section {
    padding: 10px 2em 0 2em;
    height: 550px;
  }

  .title-container {
    width: 100%;
  }

 .homepage-image_container {
    .text-lower-right-wrapper {
      bottom: 60vh;
    }

    .text-upper-right-wrapper {
      top: 9vw;
      right: -1vw;
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* Standard syntax */
    }

    .text-lower-left-wrapper {
      bottom: 68vh;
      left: -4vw;
      -ms-transform: rotate(-90deg); /* IE 9 */
      transform: rotate(-90deg); /* Standard syntax */
    }

    .text-upper-left-wrapper {
      right: 12vw;
      top: -5vw;
    }
  }
}