.nav-wrapper {
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 99;
  background-color: $base-white;

  #nav-menu {
    display: block;
    width: 40%;
    height: 70px;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-right: 3em;
  
    .nav-menu_item {
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-size: $nav-font-size;
      font-weight: $bold-font-weight;
      color: $base-blue;
      letter-spacing: 0.1em;
      cursor: pointer;
  
      a {
        text-decoration: none;
        color: $base-blue;
      }
  
      a:visited {
        color: $base-blue;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav-collapse-wrapper {
  display: none;
}

@media (max-width: 1100px) {
  .nav-wrapper {
    margin-top: 0px;
    position: fixed;
    border-bottom: 2px solid $base-grey;

    #nav-menu {
      width: 80%;
      height: 80px;
      margin: auto;
      float: none;

      .nav-menu_item  {
        font-size: $sub-sub-header-font-size;
        letter-spacing: 0.25em;
      }
    }
  }
}

@media (max-width: 750px) {
  .nav-wrapper {
    #nav-menu {
      display: none;
    }
  }

  .nav-collapse-wrapper {
    display: block;
  }
}