.filter-menu {
  width: 100%;

  .filter-menu_item > a{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: $nav-font-size;
    font-weight: $bold-font-weight;
    color: $base-blue;
    letter-spacing: 0.1em;
    cursor: pointer;

    span:hover {
      text-decoration: underline;
    }
  }
}

.nav-link.active {
  background-color: $base-blue !important;
}